
<div class="jumbotron" style=" background-image: url(assets/banner_3.jpg); color: white; background-size: cover; opacity: 0.8">
  	<h1 class="display-2" style="color: white; text-shadow: 5px 5px 10px black; text-align: center">This is the About page</h1>
  	<p style="text-align: center;">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
</div>
