<div class="jumbotron" style="background-image: url(assets/banner_3.jpg);
    color: white;
    background-size: cover;
    opacity: 0.8">
  	<h1 class="display-2" style="font-weight: 400; color: white; text-shadow: 6px 6px 8px black; text-align: center">About Us</h1>
</div>

<div class="container marketing" style="text-align: center; margin-top: 50px">
	<br>
  <div class="row featurette">
      <div class="col-md-7 order-md-2" style="padding-top: 30px">
      	<hr >
        <h2 class="featurette-heading" style="color: #43D39E"> Welcome to our website ! <span class="text-muted"> We're here to meet all you cute cat-picture needs.</span></h2>
        <h2 style="text-align: right; padding-right: 15px; font-size: 25px; font-weight: 400"> - The Team</h2>
        <hr>
        <p class="lead">Our team was formed in early July and has been dedicated to providing you with stunning pictures of the cutest kittens on the Internet. We sincerely hope that you will have a blast on our pictures gallery and find the photographs that suit your needs best. </p>
        <p class="lead">Team#Strasbourg is composed of 5 members (from left to right) : Boomybox, GiantCarlo, Carsano, Nadrojz and Iroshiva.  </p>
        <p class="lead"> Alone, I go faster; together, we go further.</p>

      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag("team.jpg", class: "d-block w-100", :alt => "First slide", width: "500px", height: "500px") %>
      </div>
       <hr >
    </div>
</div>
