<div class="jumbotron" style=" background-image: url(assets/banner_3.jpg); color: white; background-size: cover; opacity: 0.6">
  	<h1 class="display-2" style="font-weight: 400; color: white; text-shadow: 6px 6px 8px black; text-align: center">Contact Page</h1>
</div>



<div class="container" style="font-size: 22px;  padding-top: 60px">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-info text-white" style="opacity: 0.7"><i class="fa fa-envelope"></i> Question ? Need information ? Send us a message !
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" rows="6" required></textarea>
                        </div>
                        <div class="mx-auto">
                        <button type="submit" class="btn btn-info text-right">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card bg-light mb-3" >
                <div class="card-header bg-secondary text-white text-uppercase" style="opacity: 0.7"><i class="fa fa-home"></i> Company Address</div>
                <div class="card-body" >
                    <p style="font-size: 20px">22 rue de Molsheim</p>
                    <p style="font-size: 20px">67100 STRASBOURG</p>
                    <p style="font-size: 20px">France</p>
                    <p style="font-size: 18px">Email : team#Strasbourg@123.com</p>
                    <p style="font-size: 20px">Tel. +33 141 592 653 589</p>

                </div>

            </div>
        </div>
    </div>
</div>
