
<div class="jumbotron" style=" background-image: url(assets/banner_3.jpg); color: white; background-size: cover; opacity: 0.6">
  	<h1 class="display-2" style="font-weight: 400; color: white; text-shadow: 6px 6px 8px black; text-align: center">Terms & Conditions </h1>
<!--  	<p style="text-align: center;">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
</div>

<div class="container" style="text-align: center; padding-top: 40px">
<h1>Terms of Use</h1>
<br>
<ol style="list-style-position: inside; font-size: 20px"> <li> <a href="#anchor_1">Acceptance of terms</a></li>
<li> <a href="#anchor_2">Intellectual Property : Limited Licence to Users</a></li>
<li> <a href="#anchor_3">Information you provide</a></li>
<li> <a href="#anchor_4">Warranties and Disclaimers</a></li>
</ol>
</div>

<div class="container" id="anchor_1" style="padding-top: 70px">
	<h2 style="color: black" > 1. Acceptance of terms :</h2>
		<br>
		<ul style="font-size: 20px">
			<li>You agree to and are bound by the terms and conditions set forth below and in any modified or additional terms that Little Kitten, Inc. ("Little Kitten") may publish from time to time (collectively, the "Terms of Use"). If you do not agree to all of the terms and conditions contained in the Terms of Use, do not access or use this Site.</li>
			<br>
			<li>Little Kitten may change these Terms of Use from time to time. Your continued access or use of the Site constitutes your acceptance of such changes. Your access and use of the Site will be subject to the current version of the Terms of Use, rules and guidelines posted on the Site at the time of such use. Please regularly check the "Terms of Use" link on the home page of Little Kitten.com to view the then-current terms. If you breach any of the Terms of Use, your license to access or use this Site shall automatically terminate.</li>
		</ul>
</div>

<div class="container" id="anchor_2" style="padding-top: 80px">
	<h2 style="color: black"> 2. Intellectual Property : Limited Licence to Users : </h2>
		<br>
		<ul style="font-size: 20px">
			<li> Subject to your compliance with these Terms of Use, any applicable license agreement with Little Kitten, and the law, you may access and use the Site. Little Kitten remains the sole owner of all right, title, and interest in the Site and reserves all rights not expressly granted under these Terms of Use. Little Kitten may modify, replace, or discontinue the Site or any part thereof at any time, for any reason, with or without notice, in Little Kitten’s sole discretion. Little Kitten provides the Site on an "as is" and "as available" basis. </li>
			<br>
			<li> All content on this Site, including but not limited to Images, Footage, Music, and related metadata (collectively the "Little Kitten Content"), as well as the selection and arrangement of the Little Kitten Content, are protected by copyright, trademark, patent, trade secret and other intellectual property laws and treaties. Any unauthorized use of any Little Kitten Content violates such laws and this Terms of Use. Except as expressly provided herein or in a separate license agreement between you and Little Kitten, Little Kitten does not grant any express or implied permission to use the Site or any Little Kitten Content. You agree not to copy, republish, frame, link to, download, transmit, modify, adapt, create derivative works based on, rent, lease, loan, sell, assign, distribute, display, perform, license, sublicense or reverse engineer the Site or any Little Kitten Content. In addition, you agree not to use any data mining, robots or similar data and/or image gathering and extraction methods in connection with the Site or Little Kitten Content.</li>
			<br>
			<li style="font-size: 20px"> Unless you enter into a license agreement with Little Kitten you may not download, distribute, display and/or copy any Little Kitten Content.</li>
		</ul>
</div>

<div class="container" id="anchor_3" style="padding-top: 80px">
	<h2 style="color: black"> 3. Information you provide : </h2>
		<br>
		<ul style="font-size: 20px">
			<li> Little Kitten (or third parties acting on its behalf) may collect information related to your use of the Site. Third-party platforms through which you access the Site may collect information related to your use of such third-party platform and make such information available to Little Kitten subject to your agreement with the applicable third-party platform. Little Kitten’s collection and use of all such information shall at all times conform to this Terms of Use, the Little Kitten Privacy Policy, and applicable law.</li>
			<br>
			<li style="font-size: 20px"> Little Kitten will use and protect your personal information, such as your name and address, in accordance with the Little Kitten Privacy Statement, the contents of which are incorporated by reference into these Terms of Use. </li>
		</ul>
</div>

<div class="container" id="anchor_4" style="padding-top: 80px">
	<h2 style="color: black" >4. Warranties and Disclaimers : </h2>
		<br>
		<ul style="font-size: 20px">
			<li>Your use of the Site is at your own risk. The Site is provided by Little Kitten under these terms of use "as is" without warranty of any kind, either express, implied, statutory or otherwise. Little Kitten expressly disclaims any and all warranties of any kind, whether express or implied, to each and any service available from the Site, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose, non-infringement, and any other warranty that might arise under any law. Without limiting the foregoing, Little Kitten makes no warranty that: (i) the Site will meet your requirements; (ii) access to the Site will be uninterrupted; (iii) the quality of the Site will meet your expectations; and (iv) any errors or defects in the site, services or materials will be corrected. Little Kitten makes no representations or warranties that the Site will be permitted in your jurisdiction, that any of Your Content submitted by you will be available through the Site or will be stored by the Site, that the Site will meet your needs, or that Little Kitten will continue to support any particular feature of the Site. To the extent any disclaimer or limitation of liability does not apply, all applicable express, implied, and statutory warranties will be limited in duration to a period of thirty (30) days after the date on which you first used the Site, and no warranties shall apply after such period. </li>
		</ul>
</div>