
<div class="home welcome-page" style="margin-top: -80px; padding: 0;">
	<div class="home_slider_container">
		<div class="owl-carousel owl-theme home_slider">
			<div class="owl-item">
				<div class="background_image" style="background-image:url(assets/welcome1.jpg)">
				</div>
				<div class="container fill_height">
					<div class="row fill_height">
						<div class="col fill_height">
							<div class="home_container d-flex flex-column align-items-center justify-content-start">
								<div class="home_content">
									<div class="home_title">Little Kitten</div>
									<div class="home_subtitle">The cutest cat photos</div>
								</div>
								<div class="button-welcome" style="margin-top: 250px;">

									<%= link_to "Meoooow", items_path %>

								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>