
<!-- Menu -->
<div class="super_container">

	<!-- Header -->



	<div class="super_container_inner">
		<div class="super_overlay"></div>



		<!-- Product -->

		<div class="product">
			<div class="container">
				<div class="row">

					<!-- Product Image -->
					<div class="col-lg-6">
						<div class="product_image_slider_container">
							<div id="slider" class="flexslider">
								<ul class="slides">
									<li>
										<%= image_tag(@item.image_url, :alt => "Kitty picture") %>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Product Info -->
					<div class="col-lg-6 product_col">
						<div class="product_info">
							<br><br><br>
							<h2><%= @item.title %></h2>
							</div>
							<div class="product_text">
								<p><%= @item.description %></p>
							</div>
							<div class="product_buttons">
								<div class="text-right d-flex flex-row align-items-start justify-content-start">
									<div class="product_fav text-center d-flex flex-column align-items-center justify-content-center">
										<div><div><strong><%= @item.price %> €</strong><div></div></div></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Boxes -->

		<!-- Footer -->


	</div>

</div>
