<h1>Salut <%= @user.name %> et bienvenue chez nous !</h1>
<p>
  Tu t'es inscrit sur chatons.fr en utilisant l'e-mail suivant : <%= @user.email %>.
</p>
<p>
  Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
</p>
<p> À très vite sur chatons.fr !