<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <h4 class="navbar-brand col-sm-3 col-md-2 mr-0">My profile section</h4>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              My profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              My orders
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="col-md-10"> 
     
      <h2>Tentative de créer un controller admins qui permettrait de ne pas arriver cash sur la gestion des users ok!!!!</h2>
      <h2>Reste à changer la route....</h2>
    </div>

  </div> 
</div>

<!-- <div class="row">
	<div class="col-lg-12 user_col">
		<ul class="nav nav-tabs">
			<li class="active">
				<a class="active show" href="#" data-toggle="tab" aria-expended="true">My profile</a>
			</li>
			<li class="">
				<a class="active show" href="#" data-toggle="tab" aria-expended="true">My orders</a>
			</li>
		</ul>
		<div class="user_info">
			
		</div>
	</div>
</div> -->