<div class="container">
	<table id="cart" class="table table-hover table-condensed">
		<thread>
			<th style="width:50%">Item</th>
			<th style="width:50%">Price</th>
			<th style="width:50%">Quantity</th>
			<th style="width:50%">Subtotal</th>  
		</thread>
		<tbody>
			<td data-th="Item">
				<div class="row">
					<div class="col-md-2 hidden-sx">
						<img class="img-responsive" src="#" alt="#">
					</div>
					<div class="col-md-10">
						<h4 class="nomargin">Item n°1</h4>
						<p>Description</p>
					</div>
				</div>
			</td>
			<td data-th="Price">
		</tbody>
	</table>
</div>