/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*= require font-awesome


*= require assets/styles/bootstrap-4.1.2/bootstrap.min
*= require assets/plugins/font-awesome-4.7.0/css/font-awesome.min
*= require assets/plugins/OwlCarousel2-2.2.1/owl.carousel
*= require assets/plugins/OwlCarousel2-2.2.1/owl.theme.default
*= require assets/plugins/OwlCarousel2-2.2.1/animate
*= require assets/styles/main_styles
*= require assets/styles/responsive

 *= require font-awesome

 */

.menu {
	background-image: url(assets/ham_menu.jpg); background-size: cover;
}

  body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
 }

 footer {
   margin-top: auto;
 }
 #section_footer {
   padding-top: 100px;
 }



#dropdownMenuButton:focus,
#dropdownMenuButton:focus:active {
  outline: none;
  box-shadow: none;
}

